//遍历颜色
//遍历主题类，plain dark light
//遍历size

//border颜色  border-主题  默认1px

//border-主题 bd bt bt br bl bx by b

//生成padding
.bd {
  border: $border-width-base $border-style-base $color-border-theme !important;
}

@each $colorKey, $color in $colors {
  .bd-#{$colorKey} {
    border: $border-width-base $border-style-base $color !important;
  }
}

.bd-none {
  border: none !important;
}

@each $directionKey, $directionValue in $direction-map {
  @each $colorKey, $color in $colors {
    .b#{$directionKey}-#{$colorKey} {
      border-#{$directionValue}: $border-width-base $border-style-base $color !important;
    }
  }

  .b#{$directionKey}-none {
    border-#{$directionValue}: none !important;
  }
}

.bx {
  border-left: $border-width-base $border-style-base $color-border-theme !important;
  border-right: $border-width-base $border-style-base $color-border-theme !important;
}

@each $colorKey, $color in $colors {
  .bx-#{$colorKey} {
    border-left: $border-width-base $border-style-base $color !important;
    border-right: $border-width-base $border-style-base $color !important;
  }
}

.by {
  padding-top: map-get($padding-map, df) !important;
  padding-bottom: map-get($padding-map, df) !important;
}

@each $colorKey, $color in $colors {
  .by-#{$colorKey} {
    padding-top: $border-width-base $border-style-base $color !important;
    padding-bottom: $border-width-base $border-style-base $color !important;
  }
}

.bx-none {
  border-left: none !important;
  border-right: none !important;
}

.by-none {
  border-top: none !important;
  border-bottom: none !important;
}