//百分比
$percent-3: 3%;
$percent-10: 10%;
$percent-20: 20%;
$percent-30: 30%;
$percent-40: 40%;
$percent-50: 50%;
$percent-60: 60%;
$percent-70: 70%;
$percent-80: 80%;
$percent-90: 90%;

$color-white: #fff;
//基础色
$color-black: #000;

//主题色
//$color-theme: #7C4DFF;
//$color-default: mix($color-black, $color-theme, $percent-10);
$color-theme: $color-white;
$color-bg-theme: mix($color-black, $color-theme, $percent-3);

//点击变色比
//$percent-active: $percent-10 !default;
//light的样式
$percent-light-bg: $percent-90 !default;
$percent-light-border: $percent-60 !default;

$color-red: #ee0a24;
$color-orange: #ff976a;
$color-blue: #1989fa;
$color-green: #07c160;
//$color-theme: #7C4DFF;
//$color-theme: #651FFF;
//$color-theme: #5E35B1;

//灰色级别
$color-grey: #ebebeb;
$color-grey2: #d6d6d6;
$color-grey3: #c2c2c2;
$color-grey4: #adadad;
$color-grey5: #999999;
$color-grey6: #858585;
$color-grey7: #707070;
$color-grey8: #5c5c5c;
$color-grey9: #333;
$color-gray: #707070;

//$color-default: #651FFF;
$color-default: $color-white;
$color-primary: $color-blue;
$color-error: $color-red;
$color-warn: $color-orange;
$color-success: $color-green;
$color-info: $color-gray;

//文本基础色
$color-text-theme: #303133;
$color-text-primary: #303133;
$color-text-content: #606266;
$color-text-sub: #909399;
$color-text-hint: #C0C4CC;

//主题级别
$color-text-theme1: mix($color-white, $color-text-theme, $percent-10);
$color-text-theme2: mix($color-white, $color-text-theme, $percent-20);
$color-text-theme3: mix($color-white, $color-text-theme, $percent-30);
$color-text-theme4: mix($color-white, $color-text-theme, $percent-40);
$color-text-theme5: mix($color-white, $color-text-theme, $percent-50);
$color-text-theme6: mix($color-white, $color-text-theme, $percent-60);
$color-text-theme7: mix($color-white, $color-text-theme, $percent-70);
$color-text-theme8: mix($color-white, $color-text-theme, $percent-80);
$color-text-theme9: mix($color-white, $color-text-theme, $percent-90);

//border颜色
$color-border-theme: $color-text-theme9;
/* Border
-------------------------- */
$border-width-base: 1px !default;
$border-style-base: solid !default;
$border-base: $border-width-base $border-style-base $color-border-theme !default;
/// borderRadius|1|Radius|0
$border-radius-base: 4px !default;
/// borderRadius|1|Radius|0
$border-radius-small: 2px !default;
/// borderRadius|1|Radius|0
$border-radius-circle: 100% !default;
/// borderRadius|1|Radius|0
$border-radius-zero: 0 !default;

//颜色map
$colors-theme: (
        "theme1": $color-text-theme1,
        "theme2": $color-text-theme2,
        "theme3": $color-text-theme3,
        "theme4": $color-text-theme4,
        "theme5": $color-text-theme5,
        "theme6": $color-text-theme6,
        "theme7": $color-text-theme7,
        "theme8": $color-text-theme8,
        "theme9": $color-text-theme9,
);

$colors: (
        //主题色，可自定义，默认和白色一样
        theme: $color-theme,
        //默认是白色
        default: $color-default,
        primary: $color-primary,
        error: $color-error,
        warn: $color-warn,
        success: $color-success,
        info: $color-info,

        white: $color-white,
        black: $color-black,
        red: $color-red,
        orange: $color-orange,
        blue: $color-blue,
        green: $color-green,
        gray: $color-gray
);

$color-types: (
        dark: dark,
        light: light,
        plain: plain,
);
